
@font-face {
    font-family: graphikblack;
    src: url(fonts/Graphik-Black.otf);
}
@font-face {
    font-family: graphikblackitalic;
    src: url(fonts/Graphik-BlackItalic.otf);
}
@font-face {
    font-family: graphikbold;
    src: url(fonts/Graphik-Bold.otf);
}
@font-face {
    font-family: graphikboldItalic;
    src: url(fonts/Graphik-Bolditalic.otf);
}
@font-face {
    font-family: graphikextralight;
    src: url(fonts/Graphik-Extralight.otf;
}
@font-face {
    font-family: graphikextralightitalic;
    src: url(fonts/Graphik-ExtralightItalic.otf);
}
@font-face {
    font-family: graphiklight;
    src: url(fonts/Graphik-Light.otf);
}
@font-face {
    font-family: graphiklightitalic;
    src: url(fonts/Graphik-LightItalic.otf);
}

@font-face {
    font-family: graphikmedium;
    src: url(fonts/Graphik-Medium.otf);
}
@font-face {
    font-family: graphikmediumitalic;
    src: url(fonts/Graphik-MediumItalic.otf);
}
@font-face {
    font-family: graphikregular;
    src: url(fonts/Graphik-Regular.otf);
}
@font-face {
    font-family: graphikregularitalic;
    src: url(fonts/Graphik-RegularItalic.otf);
}
@font-face {
    font-family: graphiksemibold;
    src: url(fonts/Graphik-Semibold.otf);
}@font-face {
    font-family: graphiksemibolditalic;
    src: url(fonts/Graphik-Semibold.otf);
}@font-face {
    font-family: graphiksuperitalic;
    src: url(fonts/Graphik-Super.otf);
}
@font-face {
    font-family: graphiksuperitalic;
    src: url(fonts/Graphik-SuperItalic.otf);
}
@font-face {
    font-family: graphikthin;
    src: url(fonts/Graphik-Thin.otf);
}
@font-face {
    font-family: graphikthinitalic;
    src: url(fonts/Graphik-ThinItalic.otf);
}
@font-face {
	font-family: "Grad";
  
    url("http://db.onlinewebfonts.com/t/1dd71d91866c7e96c87d85f79484fa99.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/1dd71d91866c7e96c87d85f79484fa99.woff") format("woff");
   
}
html,body{
	padding:0x;
	margin:0;
	font-family: 'graphikregular';
	background:#fff;
}
.middle-section .price
{
	color:#33d3af;
	font-size:55px;
	text-align:center;
	font-family: 'Grad';
	font-weight:bold;
	margin-bottom:30px;
}
.middle-section .inputemail
{
	width:60%;
	padding: 12px 10px;
	background-color:#f7f7f7;
	border:0px;
} 
.middle-section .inputbutton
{
	width:35%;
	margin-left:10px;
	padding: 12px 10px;
	background-color:#3bcfad;
	color:#fff;
	border:0px;
	box-shadow: 1px 2px 1px rgba(30, 130, 107, 0.6);
	-moz-box-shadow:   1px 2px 1px rgba(30, 130, 107, 0.6);
  -webkit-box-shadow:1px 2px 1px rgba(30, 130, 107, 0.6);
    border-radius: 2px;
} 
.middle-section p
{
	color:#8b949d;
	font-size:14px;
	margin-bottom:20px;
}
.middle-section1 p
{
	color:#8b949d;
	font-size:16px;
	margin-bottom:30px;
	text-align:center;
}
.middle-section h2
{
	color:#000;
	
 text-align:center;
 font-family: 'Grad' 
}
.cont-icon-align
{
	text-align:right;
}
.cont-desc
{
	padding:2px 0px 9px 25px;
}
.service-padding
{
	padding-left:15px;
	padding-right:15px;
}
.omandesk
{
	margin-top: -14px;text-align:center;
}
.oman-head-margin
{
	margin-top:0px;
}
.banner-heading1
{
	background-color:#1181c8;font-size:60px;padding:0px 3px;
}
.banner-heading2
{
	padding-top: 20px;padding-left:30px;
}
.head-cf-align
{
	margin-left:-40px;
}
.oman-head
{
	color: #fff;margin-top:-190px;
}
.head-cf
{
	background-color: #1181c8;text-align: center;margin-top:-286px;padding:0px;
}
.navbar-collapse
{
	border-top:0px;
	box-shadow:none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.mynavmenu
{
	padding:14px 0px;
	    float: right;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar 
{
	background-color:#fff;
}
.navbar-default .navbar-nav > li > a
{
	color: #333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default
{
	color: #333;
	background-color: transparent;
}
.navbar
{
	border: 0px;
	min-height:0px;
	margin-bottom:0px;
}
.nav > li > a
{
	padding: 10px 30px;
}
.navbar-nav > li
{
	border-right: 1px solid #fff;
}
.navbar-nav > li > a
{
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 16px;
}
.navbar-nav > li:last-child {
    border-right: 0px;
}
.nopadding 
{
	padding: 0px;
}
.service-border
{
	border-left: 1px solid #bfbfbf;
}
.testimonial-desc{
	background-color:#404040;color:#fff;padding: 5px;border-bottom: 8px solid #1181c8;
}
.service-heading
{
	font-size:18px;
}
.service-desc
{
	font-size:13px;
}
.mysend-bottom
{
	background-color:#1181c8;
	color:#fff;
	padding:5px 30px;
	border:0px;
}
.service1
{
	background-color:#404040;color:#fff;padding:10px 10px 5px 10px;min-height:175px;
}
.service-img
{
	padding:11% 5px 0px;
}
.fr_eject_icon {
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    max-height: 20px;
    max-width: 20px;
    fill: #000;
}
.quick-call1
{
	background-color:#93B229;    width: 51%;
    position: absolute;
    left: 27%;
    bottom: -25px;padding:0px 10px;
}
.carousel-control.left, .carousel-control.right
{
	background-image:none;
}
.backcolor
{
	background-color:#666666;
}
.show-me {
    max-width: 50px !important;
    position: fixed !important;
    bottom: 5% !important;
    margin: 0px !important;
    z-index: 1000 !important;
    width: 6% !important;
	right:0% !important;
}
svg
{
	width:30px;
	height:30px;
}
.arrow-down {
	
	border-left: 108px solid transparent;
	border-right: 108px solid transparent;
	border-top: 50px solid #2a716c;
}
div#container
{
	padding:0px;
	background-color: #fff;
	/*background-image: url(../images/texture.png);*/
}

body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}

.container{
	width:100%;
}

